config routelink 'main'
	option enabled '1'
	option data_dir '/etc/routelink'
	# 0 = automatic: 60 min on flash (jffs2/ubifs), 10 min otherwise
	option commit_interval '0'
	option max_size_mb '32'
	option max_size_percent '10'
	option sample_interval '30'
	option live_interval '2'
	option traffic '1'

config retention 'retention'
	option minute_hours '48'
	option hour_days '90'
	option day_days '730'
	option event_days '90'
